.dropdownArea {
    display: flex;
    justify-content: center;

    .text-content {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        // visibility: hidden;
    }
}