.stars-content{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;

    @media (max-width: 800px){
        margin-top: 24px;
        position: relative;
        right: 100px;
    }

    .star{
        font-size: 30px;
    }
}