.stars-content{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;

    @media (max-width: 800px){
        margin-top: 24px;
        margin-right: auto;
    }

    .star{
        font-size: 30px;
    }

    .selectedColor{
        color: #FF6060;
    }

    .defaultColor{
        color: #E3E3E3;
    }
}