.logement-title {
    color: #FF6060;
    font-size: 36px;
    font-style: normal;
    line-height: 142.6%;
    margin-left: 50px;
}

.logement-location{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin-left: 50px;
}

.carousel-area{
    display: flex;
    justify-content: center;
}