.logement-content{
    margin-left: 50px;
    margin-right: 50px;

    @media (max-width: 800px){
        margin-left: 20px;
        margin-right: 20px;
    }

    .carousel-area{
        display: flex;
        justify-content: center;
    }

    .info-area{
        width: 100%;
        height: 100px;

        .logement-title {
            color: #FF6060;
            font-size: 36px;
            font-style: normal;
            line-height: 142.6%;
            margin-left: 50px;
            font-weight: 400;
            margin-top: 30px;
            min-width: 410px;

            @media (max-width: 800px){
                margin-left: 0px;
            }
        }
    
        .logement-location{
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%;
            margin-left: 50px;
            width: 50%;

            @media (max-width: 800px){
                margin-left: 0px;
            }
        }
    }

    .rating-tags{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 100%;

        @media (max-width: 800px){
            flex-direction: column-reverse;
            margin-top: 35px;
            min-width: 390px;
        }

        .tags-area{
            display: flex;
            gap: 10px;
            margin-left: 50px;
            width: 50%;
            height: 100%;

            @media (max-width: 800px){
                margin-left: 0px;
                position: relative;
                justify-content: center;
                min-width: 200px;
            }

        
            .tags-content {
                height: 100%;
                color: #FFF;
                text-align: center;
                font-weight: 700;
                line-height: 142.6%;
                display: flex;
                align-items: center;
        
                .tags {
                    border-radius: 10px;
                    background: #FF6060;
                    padding: 2px 30px 2px 30px;
                    margin-left: 5px;
                }
            }
        }
    }
}
