h1 {
    color: #FF6060;
    text-align: center;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin: 0;
}

.txtError {
    color: #FF6060;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-align-last: center;
}

.btnRetour {
    margin-bottom: 139px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
}