.dropdownContent{
    // position: absolute;
    // min-width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 1rem;
    // // margin-top: 0.5rem;
    // background-color: rgba(246, 246, 246, 0.45);
    // border-radius: 10px 10px 5px 5px;
    // max-height: 40vh;
    opacity: 0;
    visibility: hidden;

}

.content-open{
    opacity: 1;
    visibility: visible;
    // position: absolute;
    width: 1023px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    // margin-top: 0.5rem;
    background-color: rgba(246, 246, 246, 0.45);
    border-radius: 10px 10px 5px 5px;
    max-height: 40vh;
}

.hide-content {
    visibility: hidden;
    height: 0px;
}