.dropdownContent{
    opacity: 0;
    visibility: hidden;

}

.content-open{
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgba(246, 246, 246, 0.45);
    border-radius: 10px 10px 5px 5px;
    max-height: 40vh;
    text-align: -webkit-left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;

    @media (max-width: 800px){
        margin-left: 0px;
        margin-right: 0px;
    }

    p{
        margin-right: auto;
    }
}

.hide-content {
    visibility: hidden;
    height: 0px;
}