.card {
    width: 340px;
    height: 340px;
    margin-top: 56px;

    @media (max-width: 800px){
        width: 90%;
        text-align: -webkit-center;
    }


    img{
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px;

        @media (max-width: 800px){
            width: 90%;
        }
    }

    p{
        margin: 0px;
        position: relative;
        width: 300px;
        font-size: 18px;
        bottom: 65px;
        color: white;
        font-weight: 700;
        display: flex;
        justify-content: center;
        text-align: left;
        display: inline-flex;

        @media (max-width: 800px){
            justify-content: left;
        }
    }
}