.dropdown-btn {
    display: flex;
    align-items: center;
    width: 1023px;
    padding: 10px 20px 10px 15px;
    background-color: #FF6060;
    border-radius: 5px;
    gap: 900px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    .toggle-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        color: white;
    }
}